[submodule "utils"]
	path = utils
	url = https://github.com/lifegpc/c-utils.git
[submodule "getopt"]
	path = getopt
	url = https://github.com/lifegpc/getopt-MSVC.git
[submodule "incbin"]
	path = incbin
	url = https://github.com/graphitemaster/incbin.git
